<ng-container *transloco="let t; read: 'kyc'">

  <article>
    <button type="button" mat-button (click)="fileInput.click()">
      <mat-icon>cloud_upload</mat-icon>
      <span>{{ t("file") }}</span>
      <input #fileInput hidden (change)="file($event)" type="file" [accept]="types" />
    </button>
  </article>

  <article>
    <button type="button" mat-button (click)="fileInput.click()">
      <mat-icon>cloud_upload</mat-icon>
      <span>{{ t("file") }}</span>
      <input #fileInput hidden (change)="file($event)" type="file" [accept]="types" />
    </button>
  </article>
</ng-container>