<article>
  <button (click)="createSeller()">Create Seller</button>
</article>
<article>
  <input [formControl]="userForm" placeholder="Enter userId"/>
  <button (click)="addBank()">Create bank account</button>
  <button (click)="createKYC()">Create KYC</button>
  <button (click)="getKycDocuments()">Get KYC Documents</button>
  <button (click)="pay()">Pay with Card</button>
</article>
<article>
  <input [formControl]="amountForm" placeholder="amount to payout" type="number"/>
  <button (click)="payout()">Payout</button>
</article>