<ng-container *transloco="let t; read: 'mangopay.address'">
  <ng-container *ngIf="form">
      <!-- addressLine1 -->
      <mat-form-field>
        <mat-label>{{ t('addressLine1.label') }}</mat-label>
        <input
          matInput
          [formControl]="form.get('AddressLine1')"
          [placeholder]="t('addressLine1.placeholder')"
          [required]="required"
        />
        <mat-hint>{{ t('addressLine1.hint') }}</mat-hint>
        <mat-error>{{ t('addressLine1.required') }}</mat-error>
      </mat-form-field>
      <!-- addressLine2 -->
      <mat-form-field>
        <mat-label>{{ t('addressLine2.label') }}</mat-label>
        <input
          matInput
          [formControl]="form.get('AddressLine2')"
          [placeholder]="t('addressLine2.placeholder')"
        />
        <mat-hint>{{ t('addressLine2.hint') }}</mat-hint>
      </mat-form-field>
      <!-- city -->
      <mat-form-field>
        <mat-label>{{ t('city.label') }}</mat-label>
        <input
          matInput
          [formControl]="form.get('City')"
          [placeholder]="t('city.placeholder')"
          [required]="required"
        />
        <mat-hint>{{ t('city.hint') }}</mat-hint>
        <mat-error>{{ t('city.required') }}</mat-error>
      </mat-form-field>
      <!-- postal code -->
      <mat-form-field>
        <mat-label>{{ t('postalCode.label') }}</mat-label>
        <input
          matInput
          type="number"
          [formControl]="form.get('PostalCode')"
          [placeholder]="t('postalCode.placeholder')"
          [required]="required"
        />
        <mat-hint>{{ t('postalCode.hint') }}</mat-hint>
        <mat-error>{{ t('postalCode.required') }}</mat-error>
      </mat-form-field>
      <!-- country -->
      <country-form [form]="form.get('Country')" [required]="required">
        <mat-label>{{ t('country.label') }}</mat-label>
      </country-form>
  </ng-container>
</ng-container>