<ng-container *transloco="let t; read: 'mangopay.bank'">
  <form [formGroup]="form">
    <fieldset>
      <legend>{{ t('account') }}</legend>
      <mat-form-field>
        <mat-label>{{ t('owner.label') }}</mat-label>
        <input matInput formControlName="OwnerName" [placeholder]="t('owner.placeholder')" required/>
        <mat-hint>{{ t('owner.hint') }}</mat-hint>
        <mat-error>{{ t('owner.required') }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ t('iban.label') }}</mat-label>
        <input matInput formControlName="IBAN" [placeholder]="t('iban.placeholder')" required/>
        <mat-hint>{{ t('iban.hint') }}</mat-hint>
        <mat-error>{{ t('iban.required') }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ t('bic.label') }}</mat-label>
        <input matInput formControlName="BIC" [placeholder]="t('bic.placeholder')" required/>
        <mat-hint>{{ t('bic.hint') }}</mat-hint>
        <mat-error>{{ t('bic.required') }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ t('tag.label') }}</mat-label>
        <input matInput formControlName="Tag" [placeholder]="t('tag.placeholder')"/>
        <mat-hint>{{ t('tag.hint') }}</mat-hint>
      </mat-form-field>
    </fieldset>
    
    <mat-slide-toggle [formControl]="useUserAddress">
      {{ t('useUserAddress') }}
    </mat-slide-toggle>

    <ng-container *ngIf="!useUserAddress.value">
      <address-form name="OwnerAddress"></address-form>
    </ng-container>

  </form>
</ng-container>

<!--
    IBAN: new FormControl(bankAccount.IBAN, Validators.required),
  BIC: new FormCountry(bankAccount.BIC),
  OwnerName: new FormControl(bankAccount.OwnerName, Validators.required),
  OwnerAddress: new FormControl(bankAccount.OwnerAddress),
  Tag: new FormCountry(bankAccount.Tag),
-->